body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;

  background-color: white;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}


.container {
  padding: 0 10px;
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
}

.top-menu {
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  background-color: #293449;
  
}

.top-menu .container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.top-menu a {
  color: #ffffff;
}

.main-header-logo {
  display: inline-block;
  width: 220px;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo::after {
  width: 220px;
  height: 5px;
  content: "";
  background-color: #b52933;
  position: absolute;
  top: 42px;
  left: 0;
}

.main-header-logo:hover::after {
  background-color: #9a212a;
}

.main-header-logo:active::after {
  background-color: #8e1e26;
}

.search-form {
  width: 270px;
  position: relative;
}

.search-form input {
  border: none;
  outline: none;
}

.search-form input[type="search"] {
  padding: 12px 0;
  padding-left: 48px;
  width: 224px;
  height: 18px;
  background-color: #293449;
  box-sizing: content-box;
}

.search-form input[type="submit"] {
  position: absolute;
  width: 17px;
  height: 17px;
  background: transparent url("../img/icon-search.svg") no-repeat;
  font-size: 0;
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.search-form input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}  

.search-form input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form input:hover {
  background-color: #212a3a;
  opacity: 1;
}

.search-form input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.bookmark,
.cart {
  position: relative;
  display: block;
  width: 150px;
  height: 42px;
}
 
.bookmark a,
.cart a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 42px; 
  padding-left: 45px;
  font-weight: 400;
}

.bookmark a {  
  padding-left: 45px;
  font-weight: 400;
}

.cart a  {  
  padding-left: 50px;
  font-weight: 400;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: transparent url("../img/icon-bookmark.svg") no-repeat;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 16px;
  background: transparent url("../img/icon-cart.svg") no-repeat;
  opacity: 0.3;
}

.make-order {
  background-color: #63a63e;
  color: white;
  height: 42px;
  width: 150px;
  border: none;
}

.bottom-menu {
  margin-top: 36px;
}

.bottom-menu .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-menu h1 {
  font-style: italic;
  padding-left: 52px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  color: #ee3643;
  max-width: 210px;
  letter-spacing: -0.4px;
  margin-top: 13px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 290px;
}

.main-header-phone {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #ee3643;
  border: 3px solid #ffffff;    
  padding-left: 72px;
  letter-spacing: 0.42px;
  padding-right: 51px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.main-header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background: transparent url("../img/icon-phone.svg") no-repeat;
}

.main-header-adress {
  margin-top: 8px;
  font-size: 13.5px;
  color: #3f4e66;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2px;
}

.user-navigation {
  margin-top: -27px;
  padding: 0;
  width: 290px;
  display: flex;
  flex-direction: row;
}

.login-link {
  background-color: white;
  position: relative;
  display: block;
  width: 121px;
  height: 45px;
  margin-left: 10px;
}

.registration-link {
  background-color: white;
  position: relative;
  display: block;
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.login-link a,
.registration-link a {
  font-size: 21px;
  line-height: 45px;
  font-weight: 700;
  color: black;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.login-link a {  
  padding-left: 46px;
}

.registration-link a  {  
  padding-left: 24px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: transparent url("../img/icon-login.svg") no-repeat;
  opacity: 0.3;
}

.main-navigation {
  width: 940px;
  background-color: #32425c;
  margin-top: 29px;
  margin-bottom: 60px;
  border-bottom: 5px solid #293449;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
}

.site-navigation li a{
  display: block;
  padding: 17px 31px 14px 30px;
  line-height: 24px;
  font-size: 17px;
  color: white;

}

.features {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 59px;
}

.item {
  width: 300px;
  height: 123px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.item h3 {
  line-height: 26px;
  padding-left: 23px;
  margin-bottom: 22px;
  letter-spacing: 0.8px;
}

.item a {
  display: inline-block;
  margin-top: -8px;
  margin-left: 25px;
  vertical-align: middle;
  line-height: 40px;
  width: 135px;
  height: 38px;
  text-align: center;  
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: white;
  background: rgba(0,0,0,0.2);
}

.materials {
  background: #ffbf47 url("../img/icon-1.svg") no-repeat;
  background-position: 213px 32px;
}

.instrument {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat;
  background-position: 197px 33px;
}

.tech {
  background: #dc91d8 url("../img/icon-3.svg") no-repeat;
  background-position: 191px 31px;
}

.sale {
  background: #8ed78f url("../img/icon-4.svg") no-repeat;
  background-position: 196px 26px;
}

.sale h3,
.delivery h3 {
  line-height: 26px;
  padding-left: 23px;
  padding-top: 23px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}

.delivery {
  background: #ffc047 url("../img/icon-5.svg") no-repeat;
  background-position: 191px 32px;
  margin-top: -4px;
}

.slider {
  width: 620px;
  height: 266px;
  margin-top: -1px;
}


.slider-items  {
   list-style: none;
}

.slider-items li{
  margin-left: -40px;
  margin-top: -35px;
  background-image: url("../img/slider_2.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
  padding-left: 25px;

}

.slider-items li:first-child {
  margin-left: -40px;
  margin-top: -35px;
  background-image: url("../img/slider_1.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.slider-items li h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  color: white;
  padding-top: 22px;
}

.slider-items li p{
  font-size: 18px;
  line-height: 23px;
  color: white;
  margin-top: -36px;
  margin-bottom: 130px;
}
   
.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;
  padding-left: 50px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.slider-items .link {
  padding-bottom: 12px;
}

.side-items {
  margin-top: -23px;
}

.section-top {
  background-color: #f9f5f0;
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;

}

.section-top h2 {
  font-size: 30px;
  line-height: 42px;
  padding-left: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.section-top .link {
   margin-right: 25px;
   padding-left: 54px;
   padding-right: 54px;
  line-height: 20px;
}

.popular {
  width: 940px;
  margin: 0 auto;
}

.popular ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 20px;
}

.popular ul li{
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid #eaeaea;
  width: 215px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  text-align: center;
}

.new-drill h3 {
  padding-bottom: 40px;
}

.item-img {
  display:flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 190px;
  height: 170px;
}

.popular ul li h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  color: black;
  margin: 0 auto;
}

.actual-price{
  position: relative;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  padding: 8px 12px 9px 29px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #ee3643;
}

.past-price{
  position: relative;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  padding: 10px 14px 10px 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #aaaaaa;
  text-decoration:line-through;
}

.item-buttons {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: white;
  text-transform: uppercase;
}

.buy {
  color: white;
  background-color: #63a63e;
}

.bookmark-btn {
  color: #32425c;
  background-color: white;
  border: 2px solid #63a63e;
}

.brands {
  width: 940px;
  margin: 0 auto;
}

.brands .section-top {
  margin-top: 19px;
}

.brands .section-top h2 {
  padding-left: 25px;
}

.brands .section-top .link {
  margin-right: 25px;
  padding-left: 70px;
  padding-right: 67px;
}

.brands-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.brands-list li {
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-bottom: 16px;
}


.services {	
  color: black;
  background-color: #f4f8fa;
  margin-top: 75px;
}

.services h2{
  padding-top: 70px;
  padding-right: 130px;
  font-size: 30px;
  text-transform: uppercase;
}

.services p{
  padding-right: 130px;
  padding-top: 7px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  max-width: 400px;
  letter-spacing: 0.025px;
}

.slider-options,
.slider-content ul {
  list-style: none;
}

.slider-options {
  width: 240px;
  margin-top: 58px;
  margin-right: 40px;
  padding: 0;
  position: relative;
}

.slider-options::after{
  content: "";
  position: absolute;
  right: 0;
  top: -40px;
  width: 272px;
  height: 10px;
  background: transparent url("../img/slider_shadow.png") no-repeat;
}

.slider-options li{
  display: inline-block;
  width: 240px;
  height: 60px;
  vertical-align: middle;
  background-color: #32425c;
  letter-spacing: 0.4px;
}

.slider-options a{
  padding-left: 23px;
  font-size: 21px;
  font-weight: 700;
  line-height: 55px;
  color: white;
}

.slider-services {
  padding-right: 130px;
  display: flex;
  flex-direction: row;
}

.slider-content {
  min-width: 670px;
  padding-top: 30px;
}

.slider-content h3 {
  font-size: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin-top: 34px;
}

.slider-content p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;	
  line-height: 25px;
  padding:0;
  max-width: 275px;
  margin-top: -3px;
}

.slider-content ul li:nth-child(1) {
  background: transparent url("../img/delivery-background.png") no-repeat;
  background-position: 151px 15px;
  padding-bottom: 100px;
}

.slider-content ul li:nth-child(2) {
  background: transparent url("../img/guarantee-background.png") no-repeat;
  background-position: 238px 11px;
  padding-bottom: 100px;
  padding-top: 20px;
}

.slider-content ul li:nth-child(2) h3{
  margin-top: 0px;
}

.slider-content ul li:nth-child(2) p{
  max-width: 365px;
}

.slider-content ul li:nth-child(3) {
  background: transparent url("../img/credit-background.png") no-repeat;
  background-position: 165px -10px;
  padding-bottom: 100px;
}

.about {
  width: 940px;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 67px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.company {
  width: 540px;
  margin-right: 100px;
}

.about-contacts {
  width: 300px;
}

.about h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1px;
}

.about p {    
  margin: 0;
  padding-bottom: 20px;
  max-width: 522px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 0.14px;
}

.about p:nth-child(3) {    
  max-width: 400px;
  line-height: 25px;
  letter-spacing: 0.04px;
}


.transport-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 34px;
  list-style: none;
  padding-left: 35.9px;
  letter-spacing: 0.1px;
  
}

.transport-list li {
  position: relative;
  margin-left: -25px;
}

.transport-list li:before {
  background-color: #ee3643;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 25px;
  top: -1px;
  left: -10px;
}

.company .link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;
  padding-left: 41px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 11px;
}

.about-contacts {
  width: 300px;
}

.about-contacts p {
  max-width: 220px;
  margin-bottom: 10px;
}

.map img {
  margin-bottom: 42px;
}

.about-contacts .link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;
  padding-left: 65px;
  padding-right: 58px;
  padding-bottom: 10px;
  padding-top: 11px;
}

.main-footer {
  margin: 0 auto;
  margin-top: 90px;
  color: white;
  background-color: #32425c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.footer-information {
  
  padding-bottom: 32px;
}

.footer-information .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-company {
  width: 390px;
  margin-top: 19px;
}

.footer-company a {
  font-size: 30px;
  color: white;
  line-height: 30px;
  background-color: #ee3643;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 43px;
  padding-top: 16px;
  padding-bottom: 12px;
  border-bottom: 5px solid #b52933;
}

.footer-company p {
  max-width: 328px;
  margin-top: 47px;
  font-size: 18px;
  line-height: 23px;
  margin-left: 4px;
}

.footer-navigation {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.main-footer-navigation,
.extra-footer-navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer-navigation {
  padding: 0;
  margin-left: 4px;
}

.extra-footer-navigation {
  padding-left: 24px;
  margin-top: 20px;
}

.main-footer-navigation a{
  color: white;
}

.extra-footer-navigation a {
  color: #ffda96;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #293449;
  
  padding-top: 21px;
}

.copyright .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright a{
  color: #ffda96;
}

.rights {
  width: 240px;
  line-height: 19px;
}

.social {
  width: 132px;
  margin-left: 150px;
  margin-right: 118px;
}

.social ul{
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.social ul li a {
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 4px;
  color: transparent;
}

.vk a {
  display: block;
  text-align: center;
  width: 100%;
  background-image: url('../img/icon-vk.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.fb a {
  display: block;
  text-align: center;
  width: 100%;
  background-image: url('../img/icon-fb.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.insta a {
  display: block;
  text-align: center;
  width: 100%;
  background-image: url('../img/icon-insta.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.social ul li a:hover {
  background-color: #ee3643;
}

.social ul li a:active {
  background-color: #ee3643;
}

.developer {
  width: 300px;
  display: flex;
  flex-direction: row;
}

.developer p {
  max-width: 140px;
  padding-right: 52px;
  line-height: 19px;
}

.feedback-form {
 background-color: #f4f4f4;
}

.login-form,
.letter-form {
  background-color: white;
  font-size: 18px;
  font-weight: 700;
}

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;	 
}


.user-navigation-login {
  padding: 0;
  width: 290px;
  display: flex;
  flex-direction: column;
}

.user-name {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: -10px;
}

.user-name a {
  padding-right: 66px;
  padding-left: 47px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logout {
  position: absolute;
  margin-left: 245px;
  top: 100px;
}

.user-links {
  display: flex;
  padding-top: 5px;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
}

.user-links div {
  width: 10px;
  height: 10px;
}

.user-links a{
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  background-color: inherit;
  padding-left: 10px;
}

.catalog-navigation {
  width: 940px;
  margin: 0 auto;
}

.catalog-navigation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 19px;
}

.catalog-navigation ul li {
  margin-right: 40px;
}

.catalog-navigation a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
}

.catalog-current-page {
  width: 940px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-current-page h2 {
  font-size: 30px;
  line-height: 82px;
  padding-left: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.catalog-page {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters form {
  max-width: 220px;
}

.price-controls {
  max-width: 220px;
}

.min-price input,
.max-price input {
  width: 95px;
  padding: 8px 10px;
  text-align: center;
}

.filter-button {
  width: 140px;
  margin-top: 20px;
  margin-left: 44px;
}

.filters h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #f7f3ec;
  line-height: 42px;
  padding-left: 20px;
  margin-top: 0;
}

.price-controls label input{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  background-color: #f7f3ec;
}

.price-filter legend,
.brand-filter legend,
.type-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

.brand-filter label,
.type-filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: black;
  background-color: white;
}

.sort {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.sort-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #f7f3ec;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 443px;
}

.sort-list h3{
  font-size: 13px;
  font-weight: 400;
  width: 223px;
  padding-left: 20px;
}

.sort-list a {
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643; 
}

.up,
.down {
  display: none;
}

.catalog-items {
  margin: 0 auto;
  width: 700px;
}

.catalog-items ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 20px;
}

.catalog-items ul li{
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid #eaeaea;
  width: 220px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  text-align: center;
}

.one-price {
  padding-bottom: 40px;
}


.catalog-items ul li h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  color: black;
  margin: 0 auto;
}

.pages {
  width: 700px;

}

.pages ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}

.pages ul li{
  margin-right: 10px;
  border: 1px solid #e5e5e5; 
  padding: 10px 16px 10px 16px;
  margin-top: 30px;
}

.pages a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  
}

.about-type {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 55px;
  color: black;
  background-color: #f2f6f8;
}

.about-type h2 {
  padding-left: 130px;
  padding-top: 75px;
  padding-right: 130px;
  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.about-type p {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  max-width: 940px;
}

.catalog-footer {
  margin-top: 0;
}

.modal {
  display: none;
}

.modal-cart {
  background-color: #f1f1f1;
}

.modal-cart h2 {
  background-color: white;
  font-size: 30px;
  color: black;
}

.modal-cart a {
	text-transform: uppercase;
	font-size: 14px;
	background-color: white;
	color: black;
	font-weight: 700;
}